@model List<Product>
<partial name="_Nofication"/>
<div class="row mb-4">
<div class="col-md-6">
<h2>LIST PRODUCT</h2>
</div>
<div class="col-md-6 text-right">
<a asp-action="Add" class="btn btn-primary">
<i type="button" class="bi bi-plus-circle-fill"></i> Add New</a>
</div>
</div>

<div class="products">
	<partial name="ProductPatrial" />
</div>

@section Scripts{
	<script>
		$(document).on("click",".page-link",function (e){
			e.preventDefault();
			let page= $(this).data("page");
			$.ajax({
				url:"Product/Index",
				data:{page:page},
				success: function(data){
					$(".products").html(data);
				}
			});
		});
	</script>
}