@model Product

<form asp-action="DeleteConfirm">
	<input  type="hidden" asp-for="Id"/>
	<h3>Bạn có muốn xóa sản phẩm @Model.Name này không ?</h3>
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-action="Index" class="btn btn-success">Cancel</a>
</form>